.home-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  background-image: url(../images/home-bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: luminosity;
}
